.btn-down {
    margin: 0 auto;
    text-align: center;
}

.btn-down .fas {
    color: #b88917;
    font-size: 80px;
    position: absolute;
    bottom: 0px;


}

.text-global {
    color: #b88917;
    font: bolder;
    text-align: center;
}


.bg-img {
    background-image: url('static/img/hex_flower_generic.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}